* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

header {
  height: 40px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 100px 0 10px 0;
  background-image: url("images/Food1.jpg");
  opacity: 0.8;
  background-size: cover;
  color: blue;
  text-align: center;
}

.top-wrapper h1 {
  font-size: 60px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.menu-right a {
  padding: 0 25px;
  color: white;
  font-size: 30px;
}

.menu-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.header-left {
  float: left;
  /*margin-right: -25px;*/
  color: white;
  font-weight: bold;
  text-align: left;
}

.header-left h2 {
  width: 400px;
  margin-top: 5px;
  margin-left: 100px;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 40px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
  font-size: 30px;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.menuchoice {
  padding: 20px 100px;
  margin: 0 auto;
  text-align: center;
  color: black;
}

.menuchoice h3 {
  padding-bottom: 20px;
}

@keyframes slideshow {
	10% {left: 0;}
	20% {left: 0;}
	30% {left: -100%;}
	40% {left: -100%;}
	50% {left: -200%;}
	60% {left: -200%;}
	70% {left: -300%;}
	80% {left: -300%;}
	90% {left: -400%;}
	100% {left: -400%}
}

#slider {
  overflow:hidden;
  width:100%;
  margin:5px auto; 
  border: 5px solid transparent;
  border-radius: 10px;
}

#slider figure img {
  width:20%;
  float:left;
}

#slider figure {
  position:relative;
  width:500%;
  margin:0;
  left:0;
  text-align:left;
  animation:10s slideshow infinite
}

.heading h3 {
  font-weight: normal;
}


.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #5dca88;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
	opacity: 0.8;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

.message:hover{
	opacity: 1;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
	background-color: rgba(34, 49, 52, 0.9);
	height: 20px;
	width: 100%;
}

.footer-right {
  float: right;
  
}

.footer-left {
  float: left;
}
